{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1>Animal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha_nacimiento</th>
                <th>Sexo</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Esterilizado</th>
                <th>Test</th>
                <th>Edad</th>
                <th>Tamano</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.nombre }}</td>
                <td>{{ animal.fechaNacimiento }}</td>
                <td>{{ animal.sexo }}</td>
                <td>{{ animal.especie }}</td>
                <td>{{ animal.raza }}</td>
                <td>{{ animal.esterilizado ? 'Yes' : 'No' }}</td>
                <td>{{ animal.test ? 'Yes' : 'No' }}</td>
                <td>{{ animal.edad }}</td>
                <td>{{ animal.tamano }}</td>
                <td>{{ animal.descripcion }}</td>
                <td>
                    <a href="{{ path('app_animal_show', {'id': animal.id}) }}">show</a>
                    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_animal_new') }}">Create new</a>
{% endblock %}
