{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1 id="tituloCentrado">Registro de Animales</h1>


    
    <table class="table" id ="tableShow">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha de nacimiento</th>
                <th>Sexo</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Esterilizado</th>
                <th>Test</th>
                <th>Edad</th>
                <th>Tamaño</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.nombre }}</td>
                <td>{{ animal.fechaNacimiento }}</td>
                <td>{{ animal.sexo }}</td>
                <td>{{ animal.especie }}</td>
                <td>{{ animal.raza }}</td>
                <td>{{ animal.esterilizado ? 'Yes' : 'No' }}</td>
                <td>{{ animal.test ? 'Yes' : 'No' }}</td>
                <td>{{ animal.edad }}</td>
                <td>{{ animal.tamano }}</td>
                <td>{{ animal.descripcion }}</td>
                <td>{{ animal.imagen }}</td>
                <td>
                 
                    <a id="botonCrud" href="{{ path('app_animal_show', {'id': animal.id}) }}">Mostrar</a>
                    
                    <a id="botonCrud" href="{{ path('app_animal_edit', {'id': animal.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
           
                <td colspan="12">No hay datos guardados</td>
               
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a id="botonCrear" href="{{ path('app_animal_new') }}">Crear Nuevo</a>
{% endblock %}
