{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
    <h1>Animal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ animal.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha_nacimiento</th>
                <td>{{ animal.fechaNacimiento }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ animal.sexo }}</td>
            </tr>
            <tr>
                <th>Especie</th>
                <td>{{ animal.especie }}</td>
            </tr>
            <tr>
                <th>Raza</th>
                <td>{{ animal.raza }}</td>
            </tr>
            <tr>
                <th>Esterilizado</th>
                <td>{{ animal.esterilizado ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Test</th>
                <td>{{ animal.test ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ animal.edad }}</td>
            </tr>
            <tr>
                <th>Tamano</th>
                <td>{{ animal.tamano }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ animal.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_animal_index') }}">back to list</a>

    <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">edit</a>

    {{ include('animal/_delete_form.html.twig') }}
{% endblock %}
